$white: #FFFAFB;
$grey: #BFC0C0;
$black: #000;
$primary: #243042;
$secondary: #3D4A5C;
$green: #3D8F45;
$blue: #3D5D8F;
$red: #8F3D3D;

$big-shadow: 5px 5px 40px rgba($black, 0.4);
$small-shadow: 2px 2px 5px rgba($black, 0.2);