@import 'banner';
@import 'main-content';
@import 'secondary-content';

.section-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Niramit';
    font-weight: bold;
    text-transform: uppercase;
    color: $grey;

    @include respond-below(sm) {
        font-size: 16px;
    }
}

hr {
    padding: 1px 0;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 999px;
    background: $grey;
}