.secondary-card {
    flex-basis: 32%;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba($black, 0.4);

    @include respond-below(lg) {
        flex-basis: 46%;
        margin-bottom: 40px;
    }

    @include respond-below(md) {
        flex-basis: 100%;
        max-width: 592px;
    }

    a {
        text-decoration: none;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .discount,
    .remaining-time {
        position: absolute;
        left: 8px;
        display: inline-block;
        background: $green;
        color: $white;
        padding: 4px 8px;
        border-radius: 5px;
        opacity: 0.8;
        font-family: "Titillium Web";
        font-weight: bold;

        @include respond-below(sm) {
            padding: 3px 6px;
            left: 5px;
        }
    }

    .discount {
        top: 8px;
        font-size: 18px;

        @include respond-below(sm) {
            top: 5px;
            font-size: 16px;
        }
    }


    .section-1 {
        background: linear-gradient(to left, $primary, $secondary);
        position: relative;

        .remaining-time {
            position: absolute;
            top: -37px;
            font-size: 14px;

            @include respond-below(sm) {
                top: -31px;
                font-size: 13px;
            }
        }

        .title {
            font-family: "Niramit";
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0;
            padding: 12px 0;
            line-height: 1.4;
            color: $grey;

            // @include respond-below(lg) {
            //     font-size: 15px;
            //     padding: 13px 0;
            // }

            @include respond-below(sm) {
                font-size: 14px;
                padding: 10px 0;
            }
        }
    }

    .section-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $grey;

        .price {
            text-transform: uppercase;
            font-size: 12px;

            @include respond-below(sm) {
                font-size: 11px;
            }

            .current {
                border-radius: 5px;
                background: $green;
                color: $white;
                padding: 2px 8px;
                font-family: 'Titillium Web';

                @include respond-below(sm) {
                    padding: 3px 7px;
                }
            }
        }

        .reviews {
            font-size: 12px;

            @include respond-below(sm) {
                font-size: 11px;
            }

            .positive {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background: $blue;
                color: $grey;
            }

            .negative {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: $red;
                color: $grey;
            }

            .positive,
            .negative {
                padding: 2px 8px;

                @include respond-below(sm) {
                    padding: 3px 7px;
                }
            }

            .icon {
                position: relative;
                margin-left: 4px;
                font-size: 11px;
            }
        }

        .price,
        .reviews {
            display: flex;
            font-family: "Titillium Web";
            font-weight: bold;
            margin: 6px 0;

            @include respond-below(lg) {
                margin: 8px 0;
            }
        }
    }

    .section-3 {
        background: linear-gradient(to right, $primary, $secondary);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags {
            font-family: "Niramit";
            font-weight: medium;
            text-transform: uppercase;
            font-size: 10px;
            padding: 12px 0;
            color: $grey;

            a {
                color: $grey;
                text-decoration: none;

                @include respond-below(sm) {
                    text-decoration: underline;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            @include respond-below(sm) {
                font-size: 9.5px;
                padding: 10px 0;
            }
        }

        .platform {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 11px;
            font-size: 15px;

            a {
                color: $grey;
                transition: color 0.2s ease;

                &:hover {
                    color: $primary;
                }
            }

            @include respond-below(sm) {
                font-size: 14px;
                grid-gap: 10px;
            }
        }
    }

    .section-1,
    .section-2,
    .section-3 {
        padding: 0 12px;

        @include respond-below(sm) {
            padding: 0 10px;
        }
    }
}