.swiper-container {
    max-width: 592px;
    width: 100%;
    box-shadow: 5px 5px 40px rgba($black, 0.4);
    border-radius: 10px;
    @include respond-below(md) {
        max-width: 100%;
        width: 100%;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        // max-height: 333px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .discount {
        top: 10px;
        font-size: 20px;

        @include respond-below(sm) {
            top: 6px;
        }
    }

    .discount,
    .remaining-time {
        position: absolute;
        left: 10px;
        display: inline-block;
        background: $green;
        color: $white;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0.8;
        font-family: "Titillium Web";
        font-weight: bold;

        @include respond-below(sm) {
            font-size: 14px;
            padding: 4px 8px;
            left: 6px;
        }
    }

    .section-1 {
        background: linear-gradient(to left, $primary, $secondary);
        position: relative;

        a {
            text-decoration: none;
        }

        .remaining-time {
            position: absolute;
            top: -45px;
            font-size: 14px;

            @include respond-below(xs) {
                top: -34px;
                font-size: 12px;
            }
        }

        .title {
            font-family: "Niramit";
            font-weight: bold;
            text-transform: uppercase;
            font-size: 17px;
            margin: 0;
            padding: 15px 0;
            color: $grey;

            @include respond-below(xs) {
                font-size: 14px;
                padding: 10px 0;
            }
        }
    }

    .section-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $grey;

        .price {
            text-transform: uppercase;
            font-size: 14px;

            @include respond-below(sm) {
                font-size: 11px;
            }

            .old {
                background: #666;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                text-decoration: line-through;
                background: $primary;
                color: $grey;
            }

            .new {
                background: #555;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: $green;
                color: $white;
            }

            .old,
            .new {
                padding: 4px 10px;
                font-family: 'Titillium Web';

                @include respond-below(sm) {
                    padding: 3px 7px;
                }
            }
        }

        .reviews {
            font-size: 13px;

            @include respond-below(sm) {
                font-size: 11px;
            }

            .positive {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background: $blue;
                color: $grey;

                // .icon {
                //     bottom: 1px;
                // }
            }

            .negative {
                background: #555;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: $red;
                color: $grey;
            }

            .positive,
            .negative {
                padding: 4px 7px;

                @include respond-below(sm) {
                    padding: 3px 7px;
                }
            }

            .icon {
                position: relative;
                margin-left: 4px;
                font-size: 11px;
            }
        }

        .price,
        .reviews {
            display: flex;
            font-family: "Titillium Web";
            font-weight: bold;
            margin: 10px 0;
            @include respond-below(xs) {
                margin: 8px 0;
            }
        }
    }

    .section-3 {
        background: linear-gradient(to right, $primary, $secondary);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags {
            font-family: "Niramit";
            font-weight: medium;
            text-transform: uppercase;
            font-size: 12px;
            padding: 12px 0;
            color: $grey;
            a {
               color: $grey;
               text-decoration: underline;
            }

            @include respond-below(sm) {
                font-size: 10px;
                padding: 10px 0;
            }
        }

        .platform {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 12px;
            font-size: 17px;
            a {
                color: $grey; 
             }

            @include respond-below(sm) {
                font-size: 14px;
                grid-gap: 10px;
            }
        }
    }

    .section-1,
    .section-2,
    .section-3 {
        padding: 0 16px;

        @include respond-below(xs) {
            padding: 0 10px;
        }
    }
}

.swiper-button-prev {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.swiper-button-next {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
    top: 30%;
    background-image: none;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    padding: 20px 10px;
    opacity: 0.7;

    @include respond-below(xs) {
        padding: 14px 6px;
        font-size: 18px;
    }
}

// .swiper-pagination {
//     position: absolute;
//     bottom: 200px;
// }

// .swiper-container-horizontal>.swiper-pagination-bullets {
//     bottom: 0;
//     margin-top: 10px;
// }

// .swiper-pagination-bullet {
//     width: 12px;
//     height: 12px;
// }

// .swiper-pagination-bullet-active {
//     opacity: 1;
//     background: red;
//     transform: scale(1.3);
//     transition: all 300ms ease;
// }