.search-bar {
    margin: 30px 0 3rem 0;
    @include respond-below(sm) {
        margin: 20px 0 2.5rem 0;
    }
    > input {
        background: $grey;
        font-family: 'Niramit';
        font-weight: bold;
        color: $primary;
        height: 50px;
        padding: 0 25px;
        border: none;
        outline: none;
        border-radius: 1000px;
        font-size: 14px;
        box-shadow: 5px 5px 30px rgba($black, 0.3);
        &::placeholder {
            color: $secondary;
            font-family: 'Niramit';
            font-style: italic;
        }
        @include respond-below(sm) {
            height: 35px;
            padding: 0 15px;
            font-size: 12px;
        }
    }
}